/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
ul, ol {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	border: 0;
}
/* end reset css */
@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1 {
	text-align: center;
	font: 60px 'Myriad Pro', sans-serif;
	text-shadow: -1px -1px 0 #696969, 
	1px 0 1px #CDCCCB;
}
h2 {
	font: 40px 'bebas_neuebold', sans-serif;
	color: #D14343;
	border-bottom: 4px solid #DFDEDC;
	text-indent: 10px; 
	text-transform: uppercase;
	margin-bottom: 20px;
}
h3 {
	color: #8C8C8C;
	font: 24px 'bebas_neuebold', sans-serif;
	text-transform: uppercase;
}
body {
	min-width: 1260px;
	background-color: #F4F2EE;
	background-image: url(../img/background.png);
	color: #8C8C8C;
    font: 12px Verdana, sans-serif;
}
.wrapper {
	max-width: 80%;
	margin: 0 auto;
	padding: 0 50px;
	overflow: hidden;
}

/* HEADER */

header {
	text-transform: uppercase;
	padding: 40px 0 50px;
}
header:after, .other-contact-info-content:after, .info:after, .contact:after  {
	content: '';
	display: block;
	clear: both;
}
.logo {
	color: #D14343;
	float: left;
}
.logo a {
	font: 50px 'bebas_neuebold', sans-serif;
	color: #8C8C8C;
	display: block;
	line-height: 0.8;
	text-decoration: none;
	border-bottom: 4px solid #8C8C8C;
	padding-bottom: 2px;
}
.header-navigation {
	float: right;
	margin-top: 24px;
}
.header-navigation ul li {
	display: inline-block;
    margin-left: 5px;
    font: 22px 'bebas_neuebold', sans-serif;
}
.header-navigation a {
    text-decoration: none;
    color: #BEBEBE;
    padding: 3px 5px;
}

.header-navigation a:hover {
	color: #8C8C8C;
}

.home-page .homeLink, .work-page .workLink, .contact-page .contactLink, .blog-page .blogLink {
   border-bottom: 2px solid #8C8C8C;
   color: #8C8C8C;
}

/* BANNER */

.banner {
	padding: 35px 0;
}
.banner h1 span {
	display: block;
	line-height: 0.95;
}
.banner h1 span:first-child {
	font-weight: 600;
	text-transform: uppercase;
}

/* INFO */

.about-me, .skills, .list, .say-hi-online, .other-contact-info {
	float: left;
	width: 50%;
}
.about-me-content {
	margin-right: 10px;
}
.skills-content {
	margin-left: 10px;
}
.about-me-content > div {
	margin: 0 10px;
	line-height: 1.4;
	clear: both;
}
.about-me-content img {
	border: 1px solid #CFCFCF;
	float: left;
	margin-right: 20px;
}
.about-me-content p {
	overflow: hidden;
}
.list div {
	margin: 0 0 10px 10px;
	line-height: 1.4;
}
.list ul {
	line-height: 1.8;
}
.list ul li {
	padding-left: 12px;
	background-image: url(../img/red-dot.png); 
	background-repeat: no-repeat;
	background-position: 0 6px;
}
.info, .contact {
	padding-bottom: 50px;
}

/* MY WORK */

.my-work {
	position: relative;
	padding-bottom: 50px;
}
.my-work-navigation ul {
	position: absolute;
	top: 25px;
	right: 0;
}
.my-work-navigation ul li {
	display: inline-block;
	margin-left: 10px;
} 
.my-work-navigation li a {
	text-decoration: none;
	color: #8C8C8C;
	font: 11px Verdana, sans-serif;
	text-transform: uppercase;
}
.my-work-navigation li a.active {
	color: #DC6565;
}
.my-work-navigation li a:hover {
	color: #DC6565;
}
.my-work figure {
    display: inline-block; 
    margin: 0 10px 18px 10px;
    text-align: center;
    position: relative;
}
.my-work figure a {
	display: block;
	width: 220px;
    height: 130px;
    overflow: hidden;
    background-color: white;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.my-work figure img {
	max-width: 100%;
}
.images {
	text-align: center;
	margin-left: 0px;
}
.images figcaption {
	margin-top: 10px;
}
.images figure:before, .images figure:after{
	content: '';
	position: absolute;
	width: 10%;
	height: 70%;
	top: 5px;
	left: 15px;
	z-index: -1;
	-webkit-box-shadow: -15px 0 10px rgba(0,0,0,0.6);
	-moz-box-shadow: -15px 0 10px rgba(0,0,0,0.6);
	-o-box-shadow: -15px 0 10px rgba(0,0,0,0.6);
	box-shadow: -15px 0 10px rgba(0,0,0,0.6);
}
.images figure:after{
	left: auto;
	right: 15px;
	-webkit-box-shadow: 15px 0 10px rgba(0,0,0,0.6);
	-moz-box-shadow: 15px 0 10px rgba(0,0,0,0.6);
	-o-box-shadow: 15px 0 10px rgba(0,0,0,0.6);
	box-shadow: 15px 0 10px rgba(0,0,0,0.6);
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	transform: rotate(4deg);
}
.images figure:before {
	-webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

/* CONTACT */

/* Say Hi online */

#form {
	margin-top: 20px;

}
#form textarea, #form input {
	box-sizing: border-box;
	width: 100%;
	background-color: #E8E8E8;
	border: none;
	-webkit-box-shadow: inset -1px -1px 0 #F9F8F6, inset 1px 1px 0 #BABABA;
	-moz-box-shadow: inset -1px -1px 0 #F9F8F6, inset 1px 1px 0 #BABABA;
	-o-box-shadow: inset -1px -1px 0 #F9F8F6, inset 1px 1px 0 #BABABA;
	box-shadow: inset -1px -1px 0 #F9F8F6, inset 1px 1px 0 #BABABA;
	padding: 0 7px;
	color: #8C8C8C;
}
#form input {
	height: 32px;
}
#form textarea {
	height: 100px;
	padding-top: 7px;
}
#form .e-mail-field, #form .name-field {
	width: 50%;
	float: left;
}
#form .e-mail-field p {
	margin-left: 10px;
}
#form .name-field p {
	margin-right: 10px;
}
#form .message {
	clear: both;
	padding-top: 20px;
}
#form label {
	display: block;
	margin-bottom: 2px;
}
.submit {
	margin-top: 20px;
	width: 100px;
	height: 35px;
	background-color: #DC6565;
	-webkit-background-image: linear-gradient(to top, #BD5757, #DF7B7B);
	-moz-background-image: linear-gradient(to top, #BD5757, #DF7B7B);
	-o-background-image: linear-gradient(to top, #BD5757, #DF7B7B);
	background-image: linear-gradient(to top, #BD5757, #DF7B7B);
	text-transform: uppercase;
	color: white;
	font: 24px 'bebas_neuebold', sans-serif;
	border: 2px outset #e48f8f;
	cursor: pointer;
}

/* Other contact info */

.say-hi-online-content, .other-contact-info-content {
	margin: 0 10px;
}
.other-contact-info-content > div {
	margin-top: 20px;
}
.other-contact-info-content ul {
	overflow: hidden;
}
.list-item {
	font: 12px Verdana, sans-serif;
	font-weight: bold;
}
.list-item ul {
	margin: 5px 0 10px;
}
.list-item ul li {
	font: 11px Verdana, sans-serif;
	font-weight: normal;
	line-height: 1.6;
	padding-left: 4px;
}
.other-contact-info-content p {
	border: 1px solid #C9C8C8;
	width: 240px;
	height: 200px;
	float: left;
	margin-right: 40px;
}
.list-item a {
	color: #DC6565;
}




/* FOOTER */

footer {
	border-top: 4px solid #DFDEDC;
	margin-bottom: 50px;
}
footer div {
	padding: 17px 10px;
	overflow: hidden;
}
.copyrights {
	float: left;
}
.copyrights li {
	display: inline-block;
}
.copyrights a {
	color: #DC6565;
}
.social {
	float: right;
}
.social li {
	display: inline-block;
	margin-left: 12px;
}
.social a {
	height: 16px;
	width: 19px;
	display: block;
}
.social .img-1 {
	background: url('../img/social.png') 0 0; 
}
.social .img-2 {
	background: url('../img/social.png') -19px 0; 
}
.social .img-3 {
	background: url('../img/social.png') -38px 0; 
}
.social .img-4 {
	background: url('../img/social.png') -57px 0; 
}

/* backgrounds and outlines */
/*
header, footer {
	background-color: rgba(255,52,255,.2);
}
.logo, nav, .skills, .say-hi-online {
	background-color: rgba(52,255,255,.2);
} 
.banner, .my-work {
	background-color: rgba(255,255,52,.2);
}
.wrapper, .info, .contact {
	outline: 1px solid orange;
}
.about-me, .other-contact-info {
	background-color: rgba(0,200,100,.2);
}
.list div {
	background-color: rgba(84,99,166,.2);
}
*/
