* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 30px;
    background: url("../img/debut_light.png");
}

.slider {
    width: 1190px;
    height: 345px;
    margin: 0 auto 30px;
    overflow: hidden;
}

.nav-buttons {
    width: 280px;
    height: 345px;
    border: 1px solid #C0C0C0;
    border-right: none;
    float: left;
    list-style: none;
    box-sizing: border-box;
}

.nav-buttons li {
    width: 280px;
    position: relative;
    cursor: pointer;
    border-top: 1px solid #C0C0C0;
    box-sizing: border-box;
}

.nav-buttons li.active {
    background-color: #ff6e24;
}

.nav-buttons li.active:after {
    content: '';
    position: absolute;
    right: -28px;
    top: 50%;
    margin-top: -16px;
    border: 16px solid transparent;
    border-left: 16px solid #ff6e24;
}

.nav-buttons li:first-child {
    border-top: none;
}

.img-wrapper {
    width: 910px;
    height: 345px;
    overflow: hidden;
}

.slider-img {
    width: 9999px;
}

.slider-img li {
    float: left;
    list-style: none;
    width: 910px;
    height: 345px;
}