* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/debut_light.png);
}

.widget-wrapper {
    position: relative;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(107,178,200,0.1);
    max-width: 500px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.show-hide-edit-box {
    color: #6495ED;
    font: 18px Calibri;
    border-bottom: 1px dashed #6495ED;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.edit-box {
    display: none;
}

.tag-box {
    margin: 20px 0;
}

.tag-input, .tag-button {
    border: 0;
    vertical-align: top;
    height: 30px;
    font: 14px Calibri;
    box-sizing: border-box;
    padding: 0 10px;
}

.tag-input {
    width: 80%;
    color: #383838;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tag-button {
    width: 20%;
    color: white;
    background-color: #6495ED;
    cursor: pointer;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tag-button:hover {
    background-color: #36A1FF;
}

.tag {
    display: inline-block;
    position: relative;
    background-color: #383838;
    color: white;
    padding: 4px 15px 4px 15px;
    font: 14px Calibri;
    margin: 0 5px 5px 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.tag span {
    position: absolute;
    top: 3px;
    right: 7px;
    cursor: pointer;
    font: 18px Arial;
    color: red;
}

.close-all-button {
    opacity: 0;
    background-color: #FF6347;
    color: white;
    position: absolute;
    top: 21px;
    right: 20px;
    cursor: pointer;
    font: 14px Calibri;
    padding: 5px 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}



